<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mateco.integrAMobile">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="com.samsung.permission.SSENSOR_HRM_RAW_PPG"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="de.mateco.integrAMobile.base.MatecoPriceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name="de.mateco.integrAMobile.LoginActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name="de.mateco.integrAMobile.HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.mateco.integrAMobile.ForgotPassActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <activity
            android:name="de.mateco.integrAMobile.CrashDisplayActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.UserDialog"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- debug key -->
        <!--<meta-data
             android:name="com.google.android.maps.v2.API_KEY"
             android:value="AIzaSyCeI5S5itOwqrxE0n2id47zlx4CGsSVvbU" />-->

         <!-- release key -->
         <!--<meta-data
             android:name="com.google.android.maps.v2.API_KEY"
             android:value="AIzaSyC-qGn8LYDmy7G0eUIsGuYMxV8Sj0S2uac" />-->


        <!-- generated by sir old  one -->
         <!--<meta-data
             android:name="com.google.android.maps.v2.API_KEY"
             android:value="AIzaSyADjBhhaiaokp4DNsJxCzqadTJzQ1hZUHo" />-->

        <!-- this is working latest (17th aug) latest key generated by sir to display map -->
        <!--<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyADCrX6TTmIm3oW3V4ESnsyipeirukVUUU" />-->


        <!--  this is temporory key for new(current pc to display map for debug ) -->
        <!--<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAqvJ8-_r3GvYZDmdffkUALQNhwCpCq60o" />-->

        <!-- this key is generated by jaypalbhai on 18dec.2017 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCPhR5JtY9yjBdRkPmf9N4qyf-2hcGMYzQ"/>



        <service
            android:name=".receivers.UploadService"
            android:exported="false" />
        <receiver
            android:name=".receivers.WakeFulBroadCastReceiver"
            android:label="WakeFulBroadCastReceiver" >
            <intent-filter>
                <action android:name="de.mateco.integrAMobile.bvoInsertPhotoStart" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.NetworkChangedBroadCastReceiver"
            android:label="NetworkChangeBroadCastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="de.mateco.integrAMobile.bvoAgainStartBvoUpload" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ccb820a99dbd58eb1a9f175533134dbfdee0db3c" />
    </application>

</manifest>
